{{> navbar}}

<div class="jumbotron">
  <h1 class="display-4">Página principal</h1>
  <p class="lead">Esta é a minha linda página principal e estar a usar componentes do Bootstrap.</p>
  <hr/>
  Se quiser ver outros componentes do Bootstrap visite a <a href="http://getbootstrap.com/docs/4.1/components/">página oficial</a>.
</div>